Body{
    background-color: black;
}

#bmw{
    float: right;
}

#honda{
    float: bottom;
}

#toyota{
    float: right;
    float: bottom;
}

#menu{
    width: 950px;
    margin: auto;
    margin-top: 30px;
}

td,th{
    border: solid 1px;
}

table{
    width: 700px;
    margin-top: 20px;
    border: solid 5px;
    font-size: 20px;
    border-collapse: collapse;
    background-color: silver;
    display: inline-block;
}

#C-ClassImg{
    background-image: url('images/C-Class.jpg');
    height:159px;
    width:318px;
    float:right;
    margin-right: 170px;
    margin-top: 60px;
}

.name{
    font-size:20px;
    position:relative;
    left:200px;
    top:115px;
}

nav{
    margin-top: 40px;
    background-color: silver;
    text-align: center;
}
nav>a{
    text-decoration: none;
    background-color: white;
    color: black;
    text-align: center;
    padding: 10px;
    font-size: 26px;
    margin: 0px 10px;
}

#E-ClassImg{
    background-image: url('images/E-Class.jpg');
    height:159px;
    width:318px;
    float:right;
    margin-right: 170px;
    margin-top: -510px;
}

#S-ClassImg{
     background-image: url('images/S-Class.jpg');
    height:159px;
    width:318px;
    float:right;
    margin-right: 170px;
    margin-top: -260px;
}

#CRVImg{
    background-image: url('images/CRV.jpg');
    height:210px;
    width:250px;
    float:right;
    margin-right: 170px;
    margin-top: 60px;
}